.vs/
.vscode/
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log
*.tmp
*.bak
*.db
*.db-journal
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide
*.sln.ideconfig
*.sln.ideconfig.json
*.sln.ideconfig.user
*.sln.ideconfig.user.json
*.sln.ideconfig.user.json
